navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  display: flex;
  margin-top: 29px;
}
.logo {
  margin-right: 192px;
}

nav {
  margin-right: 75px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

nav:last-child {
  margin-right: 0px;
}

.user-services {
  display: flex;
  align-items: center;
}

.user-services p {
  margin-right: 47px;
}

.user-services p:last-child {
  margin-right: 0px;
}

.user-services p:first-child {
  margin-left: 160px;
}
