.shop {
  display: flex;
  flex-direction: column;
}

.shop__first-block {
  width: 1440px;
  height: 316px;
  background-image: url("../images/shop_first_block.png");
}

.shop__first-block__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 121px;
}

.shop__first-block__element p:first-child {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
}

.shop__first-block__element p:last-child {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.shop__first-block__element strong {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.shop__filter {
  width: 1440px;
  height: 100px;
  background-color: #f9f1e7;
}

.shop__filter__wrapper {
  display: flex;
  margin-top: 22px;
  margin-left: 101px;
}

.shop__filter-line {
  width: 37px;
  background-color: #9f9f9f;
  transform: rotate(90deg);
  margin-top: 28px;
}

.shop__filter__wrapper > * {
  margin-right: 16px;
  display: flex;
  align-items: flex-end;
  height: 37px;
}

.shop__second-block {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 285px);
  grid-template-rows: repeat(4, 446px);
  gap: 32px;
  position: relative;
  margin-top: 63px;
}

.pagination__shop {
  margin-top: 70px;
  margin-left: 521px;
  margin-bottom: 85px;
}

.reason-choose {
  background-color: #faf3ea;
  width: 1440px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reason-choose__block {
  display: flex;
  margin-right: 55px;
}

.reason-choose__block__element p {
  margin-left: 10px;
}

.reason-choose__block__element p:first-child {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 150%;
  color: #242424;
}

.reason-choose__block__element p:last-child {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #898989;
}
